:root{
    --main-bg : #FFFFFF;
    --main-nav : #FFFFFF;
    --text : rgba(0, 0, 0, 1);
    --nav : rgba(0, 0, 0, 0.5);
    --nav-hover : rgba(0, 0, 0, 0.7);
    --nav-active : rgba(0, 0, 0, 0.9);
    --border: 1px solid rgba(0, 0, 0, .125);
    --input: #FFFFFF;
    --table: #dddddd;
    --readonly: #e9ecef;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: var(--table);
}

body { 
    background-color: var(--main-bg);
    color: var(--text);
    padding-top: 70px; 
    padding-bottom: 30px;
}

.dropdown-menu{
    width: 100%;
    min-width: 60px !important;
} 

.navbar {
    background-color: var(--main-nav);
    border-bottom: 1px solid var(--text);
}

.navbar-light .navbar-brand {
    color: var(--nav-active);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: var(--nav-active);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--nav);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: var(--nav-hover);
  }

  .navbar-light .navbar-nav .active > .nav-link {
    color: var(--nav-active);
}

.list-group-item {
    background-color: var(--main-bg);
    color: var(--text);
    border: var(--border);
}

.form-control, .form-control:focus, .form-control[readonly], .input-group-text {
    background-color: var(--input);
    color: var(--text);
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--readonly);
    opacity: 1;
  }

.custom-select {
    background: var(--input) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='grey' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    color: var(--text);
}

.custom-select:disabled {
    color: var(--text);
    background-color: var(--readonly);
  }

.sidebar {
    background-color: var(--main-nav);
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--text);
}
    
.sidebar {
    padding-left: 0;
    padding-right: 0;
}
    
.sidebar .nav {
    margin-bottom: 20px;
}
    
.sidebar .nav-item {
    width: 100%;
}
    
.sidebar .nav-item + .nav-item {
    margin-left: 0;
}
    
.sidebar .nav-link {
    border-radius: 0;
}

.modal {
    color : #000000;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--main-bg);
    color: var(--text);
    text-align: center;
    font-size: 12px;
    border-top: 1px solid var(--text);
}